<div class="mx-auto my-1" ondragstart="return false;" ondrop="return false;">
    <div class="d-flex justify-content-center mb-1">
      <button class="btn btn-primary me-1" (click)="clear()">Clear</button>
      <button [ngClass]="buttonColor" class="btn me-1" (click)="visualize()">{{buttonTitle+' '+getAlgorithmName()}}</button>
      <button class="btn btn-primary me-1" (click)="clearPaths()">Clear Paths</button>
      <button class="btn btn-primary me-1" (click)="addMaze()">Maze</button>
    </div>
    <table>
        <tr *ngFor="let row of board;let rowPos=index">
            <td *ngFor="let col of row;let colPos=index" (mouseup)="mouseUp()" (mousedown)="mouseDown(rowPos,colPos)" (mouseenter)="mouseHover(rowPos,colPos)">
                <app-cell [cell]="col" [boardState]="boardState"></app-cell>
            </td>
        </tr>
    </table>
</div>